.accordeon {
    display: flex;
}

details summary {
    list-style-type: none;
}

details {
    display: flex;
    gap: 20px;
    width: 200px;
    transition: width 0.4s ease-in;
    position: relative;
}

details[open] {
    width: 300px;
    gap: 20px;
    transition: width 0.4s ease-in;
}

details>summary {
    position: absolute;
    top: 0;
    left: 0;
}

details>div {
    width: 180px;
    padding-left: 130px;
}